<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/index.html" class="header-logo" aria-label="Green Harvest logo">
        <svg class="header-icon-box" width="20" height="20">
          <use href="/img/sprite.svg#boxlogo"></use>
        </svg>
        <svg class="header-icon" width="186.67" height="16.67">
          <use href="/img/sprite.svg#logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how_it_works" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn">SHOP NOW</button>
    <button type="button" class="burger-btn" aria-label="Open burger menu">
      <svg class="burger-icon" width="40" height="40">
        <use href="/img/sprite.svg#burgeropen"></use>
      </svg>
    </button>
  </div>
</header>
