<section id="how_it_works" class="how_it_works">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="how-it-works-content">
      <div class="how-it-works-background">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/hero-cooking-img.webp    1x,
              img/desktop/hero-cooking-img@2x.webp 2x
            "
            width="440"
            height="560"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/tablet/hero-cooking-img.webp    1x,
              img/tablet/hero-cooking-img@2x.webp 2x
            "
            width="640"
            height="640"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              img/mobile/hero-cooking-img.webp    1x,
              img/mobile/hero-cooking-img@2x.webp 2x
            "
          />
          <img
            class="how-it-works-img"
            src="img/mobile/hero-cooking-img.webp"
            alt="happy athletic woman cutting fruit while preparing healthy meal kitchen"
            width="335"
            height="452"
          />
        </picture>
      </div>
      <div class="how-it-works-description">
        <div class="how-it-works-block">
          <h3 class="how-it-works-title">
            To order your
            <span class="blush-color-things">vegetable</span> basket, simply
            follow these <span class="blush-color-things">easy steps</span>
          </h3>
          <p class="how-it-works-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
          <ol class="steps-list">
            <li class="steps-list-item">
              <p class="steps-list-item-text">
                Just choose
                <span class="black-color-things">the vegetable</span> you want
                to order by clicking on the checkboxes
                <span class="black-color-things">next to it</span>.
              </p>
            </li>
            <li class="steps-list-item">
              <p class="steps-list-item-text">
                Click on <span class="black-color-things">the basket</span> and
                fill out &nbsp;the form.
              </p>
            </li>
            <li class="steps-list-item">
              <p class="steps-list-item-text">
                Sit back and relax! Your
                <span class="black-color-things">fresh vegetables</span>
                basket will be delivered.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
