<section id="reviews" class="reviews">
  <div class="container">
    <div class="reviews-block">
      <h2 class="title-reviews">
        reviews from our <span class="title-reviews-link">customers</span>
      </h2>
      <p class="text-reviews">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="card-reviews">
            <img
              src="/img/reviews/image-1.webp"
              alt="John Wax"
              width="56"
              height="56"
              class="image-reviews"
            />
            <div class="reviews-box">
              <h3 class="name-reviews">John Wax</h3>
              <p class="text-reviews-info">
                These vegetables are my secret to delicious and healthy meals.
                The quality is always at the highest level, the aroma and taste
                are enchanting. I advise every fan of real products!
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-reviews card-victoria">
            <img
              src="/img/reviews/image-2.webp"
              alt="Victoria Romashenko"
              width="56"
              height="56"
              class="image-reviews"
            />
            <div class="reviews-box">
              <h3 class="name-reviews">Victoria Romashenko</h3>
              <p class="text-reviews-info">
                I love how fast and fresh the vegetables are delivered. Salads
                always turn out so appetizing, and soups are real masterpieces.
                The quality is impeccable!
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-reviews">
            <img
              src="/img/reviews/image-3.webp"
              alt="Ihor Trachuk"
              width="56"
              height="56"
              class="image-reviews"
            />
            <div class="reviews-box">
              <h3 class="name-reviews">Ihor Trachuk</h3>
              <p class="text-reviews-info">
                Recently tried my fresh tomatoes and peppers - amazing! The
                authenticity of the taste, as if from the garden directly to my
                table. It is now my main vegetable supplier.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <!-- <ul class="point-list-revies indicators">
        <li class="point-item-reviews indicator active"></li>
        <li class="point-item-reviews indicator"></li>
        <li class="point-item-reviews indicator"></li>
      </ul> -->
    </div>
  </div>
</section>
