<section id="vegetables" class="vegetables-section">
  <div class="container vegetables-container">
    <h2 class="vegetables-titel">
      organic <span class="vegetables-titel-part">vegetables</span>
    </h2>
    <p class="vegetables-titel-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">eggplant</h3>
          <p class="vegetables-item-price">60 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-eggplant-img.webp,
              /img/desktop/vegetables-eggplant-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-eggplant-img.webp,
              /img/tablet/vegetables-eggplant-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-eggplant-img.webp,
              /img/mobile/vegetables-eggplant-img@2x.webp 2x
            "
          />
          <img src="/img/mobile/vegetables-eggplant-img.webp" alt="eggplant" />
        </picture>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">leek</h3>
          <p class="vegetables-item-price">50 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-leek-img.webp,
              /img/desktop/vegetables-leek-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-leek-img.webp,
              /img/tablet/vegetables-leek-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-leek-img.webp,
              /img/mobile/vegetables-leek-img@2x.webp 2x
            "
          />
          <img src="/img/mobile/vegetables-leek-img.webp" alt="leek" />
        </picture>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">mushrooms</h3>
          <p class="vegetables-item-price">40 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-mushrooms-img.webp,
              /img/desktop/vegetables-mushrooms-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-mushrooms-img.webp,
              /img/tablet/vegetables-mushrooms-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-mushrooms-img.webp,
              /img/mobile/vegetables-mushrooms-img@2x.webp 2x
            "
          />
          <img
            src="/img/mobile/vegetables-mushrooms-img.webp"
            alt="mushrooms"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">corn</h3>
          <p class="vegetables-item-price">60 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-corn-img.webp,
              /img/desktop/vegetables-corn-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-corn-img.webp,
              /img/tablet/vegetables-corn-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-corn-img.webp,
              /img/mobile/vegetables-corn-img@2x.webp 2x
            "
          />
          <img src="/img/mobile/vegetables-corn-img.webp" alt="corn" />
        </picture>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">sweet potatoes</h3>
          <p class="vegetables-item-price">50 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-sw_potato-img.webp,
              /img/desktop/vegetables-sw_potato-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-sw_potato-img.webp,
              /img/tablet/vegetables-sw_potato-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-sw_potato-img.webp,
              /img/mobile/vegetables-sw_potato-img@2x.webp 2x
            "
          />
          <img
            src="/img/mobile/vegetables-sw_potato-img.webp"
            alt="sweet potatoes"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-text">
          <h3 class="vegetables-item-titel">carrot</h3>
          <p class="vegetables-item-price">40 USD / kg</p>
        </div>
        <picture>
          <!--Desctop vertion-->
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/desktop/vegetables-carrot-img.webp,
              /img/desktop/vegetables-carrot-img@2x.webp 2x
            "
          />
          <!--Tablet vertion-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/vegetables-carrot-img.webp,
              /img/tablet/vegetables-carrot-img@2x.webp 2x
            "
          />
          <!--Mobile vertion-->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/vegetables-carrot-img.webp,
              /img/mobile/vegetables-carrot-img@2x.webp 2x
            "
          />
          <img src="/img/mobile/vegetables-carrot-img.webp" alt="carrot" />
        </picture>
      </li>
    </ul>
  </div>
</section>
