<section class="vegetables">
  <div class="container">
    <div class="vegetables-titel-container">
      <h2 class="vegetables-titel">organic vegetables</h2>
      <p class="vegetables-titel-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">eggplant</h3>
          <p class="vegetables-item-text">60 USD / kg</p>
          <img src="" alt="eggplant">          
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">leek</h3>
          <p class="vegetables-item-text">50 USD / kg</p>
          <img src="" alt="leek">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">mushrooms</h3>
        <p class="vegetables-item-text">40 USD / kg</p>
        <img src="" alt="mushrooms">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">corn</h3>
        <p class="vegetables-item-text">60 USD / kg</p>
        <img src="" alt="corn">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">sweet potatoes</h3>
        <p class="vegetables-item-text">50 USD / kg</p>
        <img src="" alt="sweet potatoes">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-titel">carrot</h3>
          <p class="vegetables-item-text">40 USD / kg</p>
            <img src="" alt="carrot">
      </li>
    </ul>
  </div>
</section>
