<section class="your_order">
  <div class="your_order-container container">
    <div class="your_order-text">
      <h2 class="your_order-title">
        Fresh <span class="color-blush">Harvest</span> Box has got you covered
      </h2>
      <p>
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="your_order-centering">
      <div class="your_order-form">
        <h3 class="your_order-form-title">
          Ordering <span class="color-burgundy">from us</span> is quick and
          easy! Fill out <span class="color-green">the form</span> below and we
          will contact you !
        </h3>
        <form class="order-form">
          <div class="order-form-wrapper">
            <input
              class="order-form-input"
              type="text"
              autocomplete="off"
              placeholder="Full name"
              required
            />
          </div>

          <div class="order-form-wrapper">
            <input
              class="order-form-input"
              type="email"
              autocomplete="off"
              placeholder="Email"
              required
            />
          </div>

          <div class="order-form-wrapper">
            <textarea
              class="order-form-comment"
              name="user-comment"
              autocomplete="off"
              placeholder="Comment"
            ></textarea>
          </div>
        </form>
        <button class="order-btn" type="submit">Send</button>
      </div>

      <div class="social-media">
        <div class="fresh-order-img"></div>

        <p class="follow">Follow us on social networks:</p>
        <div class="social-links">
          <a class="social-link" href="">Instagram</a>
          <span class="social-link">/</span>
          <a class="social-link" href="">Facebook</a>
          <span class="social-link">/</span>
          <a class="social-link" href="">Youtube</a>
        </div>
      </div>
    </div>
  </div>
</section>
