.advertisement {
  padding: 80px 0;
  background-color: var(--white-text);
}

.advertisement-wrap {
  display: inline-block;
  border-radius: 12px;
  background-color: var(--green-background);
  color: var(--white-text);
}

.advertisement-descr {
  
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-text);
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0 ;
  }
  .advertisement-wrap {
    padding-top: 20px;
    padding-right: 16px;
  }
  .advertisement-descr {
    
    font-size: 64px;
    line-height: 1;
    margin-bottom: 12px;
  }
  
}

@media only screen and (min-width: 1280px) {
  .advertisement-descr {
    font-size: 76px;
    
  }
  
  .advertisement-wrap {
    padding: 0 ;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: -16px;
    
  }
.advertisement-descr-wrap {
  margin-left: 16px;
}
}