:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black-text: #141414;
  --white-text: #fbfbfb;
  --primary-brand: #7a3145;
  --accent: #d4bfc4;
  --green-background: #576f35;
  --details: #858585;
  --transparent-black: #141414;
  --success-state: #3cbc81;
  --error-state: #e74a3b;
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

/* прихований заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}