.footer {
  background-color: #7a3145;
}
.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 14px;
}
.footer-text {
  color: #fbfbfb;
  max-width: 335px;
  height: 60px;
  margin-bottom: 40px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.footer-nav-link {
  color: #fbfbfb;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-tel {
}
.footer-address-place {
}
.footer-bottom {
}
.footer-bottom-item {
}
.footer-privacy {
}
.footer-privacy-slash {
}
.footer-copyright {
}

/* Удалите или измените padding, я его создал для корректной работы сборщика проекта vite */
