.footer {
  background-color: var(--primary-brand);
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 168px;
  margin-bottom: 14px;
}
.footer-text {
  max-width: 335px;
  height: 60px;
}
.footer-description {
  margin-bottom: 40px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 40px;
}
.footer-nav-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 0 4px;
  border-radius: 8px;
  transition: var(--transition-background-color), var(--transition-color);
}
.footer-menu {
  margin-bottom: 76px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.footer-address-item {
  display: inline-flex;
  max-width: fit-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  padding: 0 4px;
  border-radius: 8px;
  transition: var(--transition-background-color), var(--transition-color);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-bottom-item {
  color: var(--accent);
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
}
.footer-privacy-slash {
  margin: 0 8px;
}
.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-address-item:hover,
.footer-address-item:focus {
  background-color: var(--accent);
  color: var(--primary-brand);
}
.footer-address-item:active,
.footer-nav-link:active {
  color: var(--primary-brand);
  background-color: var(--white-text);
}
@media only screen and (max-width: 767px) {
  .footer-boxlogo {
    width: 16px;
    height: 16px;
  }
  .footer-logo {
    width: 148px;
    height: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 32px 32px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-logo-link {
    max-width: 216px;
    margin-bottom: 24px;
    justify-content: space-between;
  }
  .footer-description {
    max-width: 265px;
    margin-right: 212px;
  }
  .footer-menu {
    width: 227px;
    margin-bottom: 96px;
  }
  .footer-nav {
    margin-bottom: 60px;
    row-gap: 24px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    width: 704px;
    justify-content: space-between;
  }
  .footer-address {
    row-gap: 16px;
  }
  .footer-text,
  .footer-address-item,
  .footer-bottom-item {
    font-size: 16px;
    line-height: 125%;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-container {
    padding: 52px 100px;
  }
  .footer-description {
    margin-right: auto;
    margin-bottom: 164px;
    height: auto;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    width: 565px;
    gap: 121px;
    margin-bottom: auto;
  }
  .footer-nav {
    margin-bottom: 124px;
  }
  .footer-bottom {
    width: 1080px;
  }
  .footer-text {
    height: auto;
  }
}
