.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(87, 111, 53, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  outline-color: transparent;
}
.nav-list {
  display: none;
}

.header-btn {
  display: none;
}
.burger-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .burger-icon {
    width: 32px;
    height: 32px;
  }
  .header-icon-box {
    width: 16px;
    height: 16px;
  }
  .header-icon {
    width: 148px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-logo {
    gap: 9px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
    background-color: transparent;
    margin-bottom: 0;
  }
  .header-logo {
    margin-right: 366px;
  }
  .header-nav {
    display: flex;
  }
  .nav-list {
    display: flex;
    gap: 8px;
  }

  .nav-link {
    padding: 12px;
    border: 1px solid var(--white-text);
    border-radius: 12px;
    color: var(--white-text);
    transition: var(--transition-color), var(--transition-background-color),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--primary-brand);
    background-color: var(--accent);
    border-color: var(--accent);
  }
  .nav-link:active {
    background-color: var(--white-text);
    border-color: var(--white-text);
  }
  .header-btn {
    display: block;
    margin-left: auto;
    border-radius: 30px;
    padding: 16px 32px;
    background: var(--primary-brand);
    color: var(--white-text);
    border: none;
    transition: var(--transition-color), var(--transition-background-color);
  }
  .header-btn:hover,
  .header-btn:focus {
    background-color: var(--accent);
    color: var(--primary-brand);
  }
  .header-btn:active {
    background-color: var(--white-text);
  }
  .burger-btn {
    display: none;
  }
}
