.how-it-works-background {
  background-color: var(--primary-brand);
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 -20px;
}

.how-it-works-img {
  border-radius: 30px;
  margin: 0 auto;
}

.how-it-works-text-list {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-things {
  color: #fbfbfb;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.blush-color-things {
  color: var(--accent);
}

.how-it-works-text {
  color: var(--white-text);
  margin-bottom: 40px;
}

.black-color-things {
  color: var(--black-text);
  font-weight: 700;
}

.steps-list {
  color: var(--details);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  counter-reset: step-counter;
}

.steps-list-item {
  position: relative;
  padding-left: 100px;
  padding-right: 24px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.steps-list-item:nth-child(2) {
  padding-right: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.steps-list-item::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border: 5px solid var(--accent);
  border-radius: 50%;
  background-color: var(--primary-brand);
  color: var(--white-text);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.steps-list-item-text {
  color: #858585;
}

@media screen and (min-width: 768px) {
  .how-it-works-background {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 -32px;
  }
  .how-it-works-text-list {
    padding: 100px 132px;
  }

  .title-things {
    margin-bottom: 24px;
  }

  .how-it-works-text {
    margin-bottom: 52px;
  }

  .steps-list-item {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 16px;
  }

  .steps-list-item:nth-child(2) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .how-it-works-content {
    display: flex;
  }

  .how-it-works-background {
    width: 50%;
    margin: 0;
  }

  .how-it-works-container {
    width: 50%;
  }

  .how-it-works-text-list {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 0;
  }

  .how-it-works-text {
    margin-bottom: 104px;
  }
}
