.reviews {
  padding: 80px 20px;
  background-color: #fbfbfb;
}
.container-reviews {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.reviews-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.logo-reviews {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.logo-reviews-link {
  color: #576f35;
}
.text-reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}
.reviews-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #d4bfc4;
  border-radius: 24px;

  background-color: #fbfbfb;
}
.item-john {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.card-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 16px;
}

.image-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 72px;
  padding: 12px;
  width: 56px;
  height: 56px;
}
.reviews-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.name-reviews {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}
.text-reviews-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 100px 32px;
  }
  .container-reviews {
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
  }
  .reviews-block {
    gap: 25px;
  }
  .logo-reviews {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .text-reviews {
    font-size: 16px;
    line-height: 1.25;
    color: #141414;
  }
  .reviews-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  .reviews-item {
    border: 1px solid #d4bfc4;
    border-radius: 24px;
    padding: 20px;
    width: 340px;
    height: 248px;
  }
  .card-reviews {
    padding: 20px;
  }

  .item-victoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
