.reviews {
  padding: 80px 0;
  background-color: var(--white-text);
}
.container-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.reviews-block {
  max-width: 335px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title-reviews {
  text-transform: uppercase;
  color: var(--black-text);
  margin-bottom: 20px;
}
.title-reviews-link {
  color: var(--green-background);
}
.text-reviews {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black-text);
}
.reviews-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--accent);
  border-radius: 24px;

  background-color: var(--white-text);
}
.reviews-item {
  width: 335px;
}
.item-john {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.item-victoria,
.item-ihor {
  display: none;
}
.card-reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 16px;
}

.image-reviews {
  margin-bottom: 24px;
}

.name-reviews {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black-text);
}
.text-reviews-info {
  font-weight: 500;

  line-height: 1.25;
  text-align: center;
  color: var(--details);
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 100px 32px;
  }
  .container-reviews {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 52px;
  }
  .reviews-block {
    max-width: 553px;
    margin-right: auto;

    gap: 25px;
  }
  .title-reviews {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .text-reviews {
    font-size: 16px;

    color: var(--black-text);
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;

    border: none;
  }
  .reviews-item {
    width: 340px;
  }
  .card-reviews {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent);
    border-radius: 24px;
    padding: 20px;
    width: 340px;
    height: 248px;
  }

  .item-victoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .text-reviews-info {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    padding: 100px;
  }
  .container-reviews {
    max-width: 1280px;
    margin: 0 auto;
  }
  .reviews-list {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .reviews-item {
    width: 344px;
  }
  .item-ihor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
