.vegetables-section {
  padding: 80px 20px;
}
@media only screen and (min-width: 768px) {
  .vegetables-section {
    padding: 100px 32px;
  }
}
@media only screen and (min-width: minwidthpx) {
  .vegetables-section {
    padding: 100px 100px;
  }
}